/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./img/landingpage.jpg');
    
}

/* Header styles */
.header {
    background-color: #792929;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid rgb(173, 85, 85);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: #b3a04d;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #ff6b6b;
}

/* Hero section styles */
.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 28px;
    margin-bottom: 60px;
}

.cta-button {
    display: inline-block;
    padding: 18px 28px;
    background-color: #ff6b6b;
    font-size: large;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff4848;
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    background-color: #b9b399;
}

.feature {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.features :hover{
    color: #aa3333;
    background-color: rgb(41, 35, 35);
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
